<html>
<head>
	<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<link href="static/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
	<script>
	function moveon()
	{
		location.href="/mark"
	}
	</script>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>
					标注进度<small>{{page}}/{{totalpage}}</small>
				</h1>
			</div>
			<div class="row-fluid">
				 <button class="btn" type="button" onclick="moveon()">开始</button>
			</div>
		</div>

	</div>
	<table class="table" contenteditable="false">
  	<colgroup>
    	<col width='25%'></col>
    	<col width='25%'></col>
    	<col width='25%'></col>
    	<col width='25%'></col>
  	</colgroup>
	<thead>
		<tr>
			<th>编号</th>
			<th>状态</th>
			<th>完成时间</th>
			<th>标记比率</th>
		</tr>
	</thead>
	<tbody>
		{%for res in resArr%}
		<tr>
			<td> {{res['id']}} </td>
			<td style="color:green;"> {{res['status']}} </td>
			<td> {{res['time']}} </td>
			<td> {{res['mark_ratio']}} </td>
		</tr>
		{%end%}
	</tbody>
</table>
</div>
</body>
</html>